* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 100px;
}

.search-header {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 30px;
}

.search-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.search-header span {
    color: rgb(168, 30, 30);
}
/*back button*/
 #backBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color:rgb(168, 30, 30);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#backBtn:hover {
    background-color:rgb(168, 30, 30) ;
}

.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}
.recipe-card{
    background: white;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid gray;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
     height: 400px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-card img{
  width: 100%;
height: 260px;
object-fit: cover; 
}
.recipe-card h3{
   font-size: 22px;
   padding: 20px; 
      flex-grow: 1; 
  }
  
.recipe-card:hover {
    transform: scale(1.03);
}


.view-btn {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: gray;
    color: aliceblue;
    padding: 20px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-top: 1px solid #ccc;
    transition: background-color 0.2s ease-in-out;
}

.view-btn:hover {
    background-color:rgb(168, 30, 30);
}

.no-result {
    text-align: center;
    font-size: 18px;
    color: #888;
    grid-column: 1 / -1;
}
/* When only 1 recipe result, center it */
.single-result {
    display: flex !important;
    justify-content: center;
}

/* Keep card clean, centered, with fixed max width */
.single-result .recipe-card {
    max-width: 350px;
    width: 100%;
    margin: 20px auto;
}
